<template>
  <div id='MyAbout'>
    <div class='bg'></div>
    <div class='bg bg2'></div>
    <div class='bg bg3'></div>
    <div class='News'>
      <p class='title'> 學院簡介<i class="el-icon-school"></i></p>
      <div class='content'>
        <div class='block' v-for="(item, index) in Block" :key="(item, index)">
          <el-timeline>
            <el-timeline-item 
            v-for="(part, idx) in item.part" :key="(part, idx)" 
            :timestamp="part.subtitle" 
            placement="top"
            size="large">  
              <div class='paragraph'>
                {{ part.content }}
              </div>
            </el-timeline-item>
          </el-timeline>
        </div>
      </div>   
    </div>

  </div>    
</template>



<style scoped>

  #MyAbout{
    margin-top: 3%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title{
    margin-top: 0;
    padding-top: 10%;
    padding-bottom: 2.5%;
    font-size: 40px;
    font-weight: 500;
    background-color: rgba(176, 133, 187, 0.7);
  }

  .block{
    width: 80%;
  }

  .word{
    width: 80%;
    margin: 0 auto;
  }

  .content {
    margin: 0% auto 1% auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .itemTitle{
    font-size: 30px;
    font-weight: 500;
    color: rgb(44, 17, 54);
  }

  .paragraph{
    width: 80%;
    margin: 2.5% 0;
    padding: 3% 5%;
    border-radius: 10px;
    background: rgb(241, 224, 255);
  }



/* background */

.bg {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(157, 138, 161) 50%, rgb(184, 159, 201) 50%);
    bottom:0;
    left:-50%;
    opacity: 0.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
  }

  .bg3 {
    animation-duration:10s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

</style>



<script scoped> 

  export default {
    name: 'MyPage',
    created() {
      window.scrollTo(0, 0);
    },
    data() {
      return {
        timer: '',
        list: [],
        Block: [{
            title: '學院簡介',
            part:[{
                subtitle: '合校前「國立新竹教育大學 人文社會與藝術學院」簡史 （2005.8~2016.11)',
                content: '國立新竹教育大學於2005年8月1日起獲准由「國立新竹師範學院」改制為「國立新竹教育大學」，「人文社會與藝術學院」隨即成立，為學校三個學院之一。本學院包括以下六個系所：中國語文學系（所）（原「語文教育學系」），環境與文化資源學系（所）（原「社會教育學系」），藝術與設計學系（原「美勞教育學系、所」），音樂學系（所）（原「音樂教育學系」），以及台灣語言與語文教育研究所，2007年8月1日新增英語教學系。'
              },
              {
                subtitle: '合校後「清華 藝術學院」現況 (2016.11~今)',
                content: '2016年11月國立清華大學與國立新竹教育大學合校後，增設了以培養優秀美術設計與音樂人才為宗旨的「藝術學院」，前為「國立新竹教育大學 人文社會與藝術學院」。藝術學院設有藝術與設計學系（創作組、設計組、碩士班及在職專班）、音樂學系（學士班、碩士班及在職專班）。目前專任教師25位（藝術與設計學系14位、音樂學系11位）。本院以培養優秀美術設計與音樂人才為宗旨，在多元的師資培育激盪下，培育出許多優秀的藝術家和設計新銳，並屢獲國內外大獎，展現出令人矚目的創作能量，受相關產業矚目與青睞。近年每年舉辦國際性的藝術季活動，邀請國外多位知名音樂家與藝術家參與，並由本校樂團參與音樂會的演出，盛況空前。本學院106學年度成立「科技藝術跨域學院學士班」，陸續招收美術科技跨域、音樂科技跨域學生，將邁向藝術跨域全方位前進。本院於107年5月舉辦「107年教學單位自我評鑑」，榮獲「一等通過」佳績。'
              },
            ],
          },
        ]
      };
    }
  }
</script>