<template>
  <body id='MyPage'>
    <div class='bg'></div>
    <div class='bg bg2'></div>
    <div class='bg bg3'></div>
    <div id='border'>
      <i class='border-top'></i>
      <i class='border-right'></i>
      <i class='border-bottom'></i>
      <i class='border-left'></i>
      <div class="border-word"> {{ school }} </div>
    </div>
    <div> 
      <div class='part recentAct'>
        <div class='title'> 最新消息 </div>
        <div class='content'>
          <div class='block hvr-bob' v-for="(acti, index) in activity" :key="(acti, index)">
            <div class='hover'>
              <div class='hvr-grow readMore'><a class='a' v-bind:href="acti.link">READ</a></div>
            </div>
            <img class='Actiimg' v-bind:src='acti.img' :alt='acti.head'/>
            <div class='info'>
              <span class='type'><i class="el-icon-star-on"></i>{{ acti.type }}</span>
              <span class='date'> {{ acti.date }} </span>
            </div>
            <div class='activity'> {{ acti.head }} </div>
            
          </div>
          <div class='more hvr-shutter-out-horizontal' > <router-link to="/News" class="news"> MORE... </router-link></div>
        </div>
        
      </div>
      <div class='part website'>
        <div class='titleW' > 學院相關網站 </div>
        <div class='content'>
          <div class='block' v-for="(site, index) in websites" :key="(site, index)">
            <a v-bind:href="site.link" target="_blank">
              <img class='siteImg' v-bind:src="site.img" :alt="site.alt"> 
              <span class='site'> {{ site.alt }} </span>
            </a>
          </div>
        </div>
      </div>
      <div class='part connect'>
        <div class='title' > 聯絡我們！ </div>
        <div class='content'>
          <div class='block' v-for="(department, index) in connects" :key="(department, index)">
            <div class='connectWay'>
              <div class='place'>  {{ department.place }} </div>
              <div class='tel'> Tel: {{ department.phone }} </div>
              <div class='fax'> Fax: {{ department.fax }} </div>
              <div class='email'> E-mail: {{ department.email }} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <el-footer>Footer</el-footer> -->
  </body>
</template>


<script scoped> 

  export default {
    name: 'MyPage',
    created() {
      window.scrollTo(0, 0);
    },
    data() {
      return {
        timer: '',
        list: [],
        school: '國立清華大學 藝術學院',
        titles: ['近期活動', '聯絡我們'],
        showTitle:['false', 'false', 'false'],

        activity: [{
            img: require("@/assets/1208.png"),
            head: '藝設系學生獲獎－109年林務局「國產材設計商品比賽」決選',
            date: '2020 / 12 / 08',
            type: '學生獲獎',
            link: 'https://art.nthu.edu.tw/?p=2072'
          },
          {
            img: require("@/assets/1201.png"),
            head: '【開放報名】2020國立清華大學藝術與設計學系研究生論文研討會',
            date: '2020 / 12 / 01',
            type: '學院活動',
            link: 'https://art.nthu.edu.tw/?p=2061'
          },
          // {
          //   img: require("@/assets/0924.png"),
          //   head: '【徵稿】2020國立清華大學藝術與設計學系研究生論文研討會',
          //   date: '2020 / 09 / 24',
          //   type: '學院活動'
          // },
          {
            img: require("@/assets/0909.png"),
            head: 'ARS 2020 – TSING HUA GARDEN',
            date: '2020 / 09 / 09',
            type: '學院公告、國際交流',
            link: 'https://art.nthu.edu.tw/?p=2036'
          },
          {
            img: require("@/assets/0731.png"),
            head: '清華藝術學報',
            date: '2020 / 07 / 31',
            type: '學院公告',
            link: 'https://art.nthu.edu.tw/?p=2020'
          },
          {
            img: require("@/assets/0722.png"),
            head: '藝設系設計組-異質對話-360展區1',
            date: '2020 / 07 / 22',
            type: '學院活動',
            link: 'https://art.nthu.edu.tw/?p=2002'
          },
          {
            img: require("@/assets/0703.png"),
            head: '華山烏梅劇場「Face to face」實驗性跨領域展演',
            date: '2020 / 07 / 03',
            type: '學院公告',
            link: 'https://art.nthu.edu.tw/?p=2017'
          },
        ],

        websites: [{
            img: require("@/assets/site/IPTA.png"),
            url: 'https://art.nthu.edu.tw/-artimg/web_ipta.jpg',
            name: '科技藝術院學士班',
            alt: '科技藝術院學士班',
            link: 'http://ipta.nthu.edu.tw/'
          },
          {
            img: require("@/assets/site/ARTDESIGN.png"),
            url: 'https://art.nthu.edu.tw/-artimg/web_artdesign.jpg',
            name: '藝術設計學系',
            alt: '藝術設計學系',
            link: 'http://artdesign.site.nthu.edu.tw/?Lang=zh-tw'
          },
          {
            img: require("@/assets/site/MUSIC.png"),
            url: 'https://art.nthu.edu.tw/-artimg/web_music.jpg',
            name: '音樂學系',
            alt: '音樂學系',
            link: 'http://music.site.nthu.edu.tw/?Lang=zh-tw'
          },
          
          {
            img: require("@/assets/site/MASTER.png"),
            url: 'https://art.nthu.edu.tw/-artimg/web_aet.jpg',
            name: '藝術與創新科技碩士學程',
            alt: '藝術與創新科技碩士學程',
            link: 'http://aet.web.nthu.edu.tw/'
          },
          {
            img: require("@/assets/site/springNTHU.png"),
            url: 'https://art.nthu.edu.tw/-artimg/web_artspeech.jpg',
            name: '春之藝術專題講座',
            alt: '春之藝術專題講座',
            link: 'http://art.nthu.edu.tw/artspeech'
          },
          {
            img: require("@/assets/site/web_techart.png"),
            url: 'https://art.nthu.edu.tw/-artimg/web_techart.jpg',
            name: '科技藝術研究中心',
            alt: '科技藝術研究中心',
            link: 'http://techart.nthu.edu.tw/'
          },
        ],
        
        connects: [{
            place: '藝術學院',
            phone: '03-5715131 #78801、#78802',
            fax: '03-5619170',
            email: 'coa@my.nthu.edu.tw'
          },
          {
            place: '藝術設計學系',
            phone: '03-5715131 #72901、#72903',
            fax: '03-5245209',
            email: 'artist@my.nthu.edu.tw'
          },
          {
            place: '音樂學系',
            phone: '03-5715131 #73101、#73103、#73104(系辦公室)',
            fax: '03-5245192',
            email: 'dme@mail.nhcue.edu.tw'
          },
          {
            place: '藝術學院學士班(科技藝術組)',
            phone: '03-5715131 #78802 (系辦公室)',
            fax: '-',
            email: 'cwyu@mx.nthu.edu.tw'
          },
        ],
        
        
      };
    },
    methods: {
      init() {
        document.getElementById('border').className += 'animate';

        var word = document.querySelectorAll(".border-word")
        word.forEach(el=>{ 
          el.innerHTML = el.innerText
            .split(' ')
            .map(l=> l === "\n" ? `<br/>` : `<span class='word'>${l}</span>`)
            .join(' ')
        })
      },

      showWord() {
        // console.log("2");
        var list = document.getElementsByClassName('border-word');
        list.forEach(el => el.className += ' move');
      },

      shake(){
        // console.log("22");
        var list = document.getElementsByClassName('border-word');
        list.forEach(el => el.className += ' shake');
      },

      addClassForScroll(index) {
        if(this.showTitle[index] == 'false'){
          this.list[index].className += ' show-up';
          this.showTitle[index] = 'true';
        }
      },

      onScroll () {
        var windowHeight = window.innerHeight;
        var s0 = this.list[0].getBoundingClientRect();
        var s1 = this.list[1].getBoundingClientRect();

        if ((s0.top - windowHeight) <= -windowHeight/8) {
          this.addClassForScroll(0);
          // console.log('s0 ' + (s0.top));
        }
        if((s1.top - windowHeight) <= -windowHeight/8){
          this.addClassForScroll(1);
          // console.log('s1 ' + (s1.top));
        }
      },

      onScroll_content() {
        var block = document.getElementsByClassName('block');
        var windowHeight = window.innerHeight;
        block.forEach(el => {
          var tmp = el.getBoundingClientRect();
          if((tmp.top - windowHeight) <= -windowHeight/8){
            el.className += ' animate';
          }
        });  
      },
    },
    mounted() {
      console.log(this.showTitle);
      this.timer = setTimeout(this.init, 250);
      this.list = document.getElementsByClassName('title');
      document.getElementsByClassName('border-bottom')[0].addEventListener("transitionend", this.showWord, false);
      document.getElementsByClassName('border-word')[0].addEventListener("transitionend", this.shake, false);
      window.addEventListener('scroll', this.onScroll);
    },
    beforeUnmount() {
      clearTimeout(this.timer);
      window.removeEventListener('scroll', this.onScroll);
    }
  }
</script>



<style scoped>

  body {
    margin:0;
  }
  
  .MyPage{
    height: 100%;
    margin:0;
  }

  /* #footer {
    bottom: 0;
    width: 100%;
    padding: 1.5%;
    background-color: rgb(245, 228, 208);
    z-index: 100;
    font-size: 18px;
  } */

  * {
    letter-spacing: 2px;
    line-height: 30px;
    outline: none;
  }

  .a{
    padding: 7.5% 25%;
  }

  .part {
    background-color: rgba(205, 191, 216, 0.7);
    opacity: 0.95;
  }

  .part.website {
    background-color: rgba(0, 0, 0, 0);
  }

  .part.connect {
    background-color: rgba(141, 89, 141, 0.7);
    margin: 0% auto 3% auto;
    opacity: 0.9;
  }

  .content {
    margin: 0% auto 1% auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .website .content {
    margin: 0% auto 2.5% auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  
  .connect .content {
    margin: 2% auto 1% auto;
    width: 80%;
  }

  .part.website:hover .titleW{
    position: relative;
    z-index: -100;
    opacity: 0;
  }

  .Actiimg{
    width: 85%;
    height: 52.5%;
    border-radius: 10px;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden; 
  }

  .info{
    color: #534653;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 1% 7.5% 0 7.5%;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden; 
  }

  .date{
    letter-spacing: 1px;
  }

  .hover {
    transition: .5s ease;
    opacity: 0;
    transform: translate(0, 275%);
  }

  .readMore {
    width: 40%;
    background-color: #ffee00;
    color: rgb(44, 43, 43);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 450;
    padding: 2.5% 0;
  }

  .block {
    /* float: left;*/
    width: 33.25%;
    height: 400px; 
    /* padding: 1%;  */
    font-size: 20px;
    color:rgb(20, 14, 61);
    margin-bottom: 3%;
    /* padding-top: 3%; */
  }

  .website .block {
    width: 100%;
    background: rgba(0, 0, 0, 1);
  }

  .connect .block {
    width: 49.75%;
    height: 40%;
    text-align: left;
    font-size: 16px;
  }

  .activity {
    margin: 0 7.5% 4% 7.5%;
    padding: 2.5% 0% 0% 0%;
    border-top: rgb(43, 32, 61) solid 1.75px;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden; 
  }

  .connectWay{
    width: 90%;
    margin: 0 auto;
  }

  .recentAct .block:hover{
    cursor: pointer;
  }

  .recentAct .block:hover .Actiimg{
    opacity: 0.7;
  }

  .recentAct .block:hover .info{
    opacity: 0.7;
  }

  .recentAct .block:hover .activity{
    opacity: 0.7;
  }
  

  .recentAct .block:hover .hover{
    position: relative;
    z-index: 10;
    opacity: 1;
  }

  .siteImg{
    width:100%;
    height: 100%;
    /* transition: 0.1s ease; */
    min-width: 100%;
    opacity: 0.3;
  }

  .website .block:hover {
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  .website .block:hover .siteImg{
    opacity: 1;
  }

  .website .block:hover .site{
    opacity: 1;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(255,255,255,0) 40%);
    transform: translate(0, -102%);
  }
  
  .site{
    position: relative;
    width: 95%;
    height: 95.3%;
    /* bottom: 104.7%; */
    padding: 10% 0 0 5%;
    opacity: 0;
    color: rgb(255, 245, 255);
    font-size: 16px;
    writing-mode: vertical-lr;
    text-align: left;
    transition: 0.2s ease;
    transform: translate(0, -97.5%);
  }


  .siteImg:hover {
    cursor: pointer;
    opacity: 1;
    /* border-radius: 20px;
    box-shadow: 0 0 20px rgba(63, 50, 75, 0.9); */
  }

  .siteName {
    margin-top: 2%;
  }

  .place {
    color: rgb(11, 0, 29);
    font-size: 24px;
    /* line-height: 40px; */
    border-bottom: rgb(168, 149, 168) solid 1.75px;
    padding-bottom: 0.5%;
    margin-bottom: 1%;
  }

  .more {
    width: 15%;
    height: 45px;
    margin: 0 auto 3% auto;
    font-size: 16px;
    font-weight: 450;
    color:rgb(228, 226, 255);
    text-align: center;
    line-height: 45px;
    background-color: rgb(17, 20, 48);
    border-radius: 5px;
    transition: all 0.3s;
  }

  .more:hover {
    cursor: pointer;
  }

  .more:hover .news{
    color: #1e121f;
    cursor: pointer;
  }

  .news{
    padding: 8% 25%;
    color:rgb(228, 226, 255);
    text-decoration: none;
  }

  .title {
    font-size: 40px;
    font-weight: 500;
    /* color: #613c68; */
    transform: translate3d(0, 0, 0);
    transition: all 0.5s;
    opacity: 0;
    padding-top: 3%;
    padding-bottom: 1.5%;
  }

  .titleW{
    position: relative;
    z-index: 100;
    padding: 0;
    font-size: 40px;
    font-weight: 500;
    color: rgb(255, 232, 255);
    transition: .4s ease;
    opacity: 1;
    transform: translate(0, 750%);
  }
  
  .title.show-up {
      box-shadow: none;
      transform: translate3d(0, 10%, 0);
      opacity: 1;
  }

  #border {
    position: relative;
    margin: 5% 0%;
    width: 100%;
    height: 600px;
    /* height: 100vh; */
  }

  .border-top {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 0;
    height: 12px;
    background-color: rgb(119, 103, 129);
    border-radius: 4px;
    transition: all .4s .0s;
  }

  .border-bottom {
    position: absolute;
    bottom: 10%;
    right: 20%;
    width: 0;
    height: 12px;
    background-color: rgb(110, 110, 110);
    border-radius: 4px;
    transition: all .4s .8s;
  }

  .border-right {
    position: absolute;
    top: 10%;
    right: 20%;
    width: 12px;
    height: 0;
    background-color: rgb(125, 125, 125);
    border-radius: 4px;
    transition: all .4s .4s;
  }

  .border-left {
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 12px;
    height: 0;
    background-color: rgb(95, 95, 95);
    border-radius: 4px;
    transition: all .4s 1.2s;
  }

  .animate .border-top, .animate .border-bottom {
    width: 60%;
  }
  .animate .border-right, .animate .border-left {
    height: 80%;
  }

  .border-word {
    position: absolute;
    top: 67%;
    right: 24%;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 4px;
    line-height: 40px;
    color:rgb(45, 48, 58);
    transform: translateX(-1200px);
    transition: 1s all;
  }

  .word{
    display: inline-block;
    transform: translateX(-1200px);
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 3s, 1.2s;
  }

  .move {
    transform: translateX(0px);
    /* transition: 0s; */
  }

  .move .word{
    display: inline-block;
    transform: translateX(0px);
    opacity: 1;
  }

  .border-word span:nth-child(2) { transition-delay: .1s }
  

  @media (max-width: 991.98px){
    .border-word {
      top: 70%;
      right: 25%;
      font-size: 36px;
    }

    .content {
      width: 90%;
    }

    .connect .content {
      width: 90%;
      margin-bottom: 4%;
    }

    .website .content {
      margin: 0% auto 4% auto;
    }

    .block{
      width: 49.75%;
    }

    .website .block {
      height: 325px;
    }

    .connect .block {
      font-size: 16px;
    }

    .Actiimg{
      height: 50%;
    }

    .info{
      font-size: 15px;
    }

    .titleW{
      transform: translate(0, 600%);
    }

    .more {
      width: 20%;
      /* margin: 0% auto 6% auto; */
    }

    .place {
      font-size: 22px;
    }    
  }


  @media (max-width: 767.98px){
    .border-word {
      top: 67%;
      left: 25%;
      right: 25%;
      font-size: 32px;
    }

    .website .content {
      margin: 0% auto 5% auto;
      grid-template-columns: repeat(3, 1fr);
    }

    .connect .content {
      width: 95%;
      margin-bottom: 5%;
    }

    .block {
      height: 350px;
      width: 49.75%;
      font-size: 18px;
      text-align: center;
    }

    .website .block {
      height: 250px;
      margin-bottom: 0%;
    }

    .connect .block {
      font-size: 14px;
    }

    .Actiimg{
      height: 47.5%;
    }

    .hover{
      transform: translate(0, 250%);
    }

    .titleW{
      transform: translate(0, 885%);
    }

    .more {
      width: 25%;
      margin: 0% auto 6% auto;
    }

    .place {
      font-size: 20px;
    }

    .content{
      width: 95%;
    }
  }

  @media (max-width: 575.98px){
    .border-word {
      top: 67%;
      left: 25%;
      right: 25%;
      font-size: 28px;
    }

    .website .content {
      margin: 0% auto 6% auto;
    }

    .connect .content {
      width: 90%;
      padding-bottom: 2.5%;
      margin-bottom: 6%;
    }

    .title {
      padding-top: 5%;
      font-size: 32px;
      margin: auto;
    }

    .block {
      width: 96%;
      height: 350px;
      margin: 0 auto;
    }

    .website .block {
      height: 225px;
    }

    .connect .block {
      width: 95%;
      font-size: 16px;
    }

    .Actiimg{
      width: 70%;
      height: 55%;
    }

    .hover {
      transform: translate(0, 300%);
    }

    .readMore{
      width: 30%;
      padding: 1% 0;
      font-size: 14px;
    }

    .info{
      font-size: 16px;
    }
    

    .activity {
    margin: 1% 2.5% 2% 2.5%;
    padding: 1.5% 0% 0% 0%;
    border-top: rgb(43, 32, 61) solid 1.5px;
    }

    .titleW{
      transform: translate(0, 800%);
    }

    .more {
      width: 30%;
      margin: 5% auto 6% auto;
    }

    .part.connect {
      height: 50%;
    }

    .connect .block{
      height: 22.5%;
      padding: 3%;
    }
  }

  .bg {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(157, 138, 161) 50%, rgb(184, 159, 201) 50%);
    bottom:0;
    left:-50%;
    opacity: 0.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
  }

  .bg3 {
    animation-duration:10s;
  }


  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
</style>