<template>
  <div id='MyMembers'>
    <div class='bg'></div>
    <div class='bg bg2'></div>
    <div class='bg bg3'></div>
    <!-- <div class='title'>師資</div> -->
    <el-tabs v-model="activeName" type="card" @tab-click="handleClick" class='tabs'>
      <el-tab-pane
        v-for="(item, index) in Members"
        :key="(item, index)"
        :label="item.type"
        :name="item.type"
        v-on:click='handleClick'
      >
        <!-- <div class='title animate__animated animate__tada'> {{ item.title }} </div> -->
        <div class='word'>
          <div class='inside'>
            <img v-bind:src='item.img' :alt='item.type'/>
            <div class='describe'>
              <p class='main'> {{ item.main }} </p>
              <p v-if="item.flag === 0">
                <b>學 歷：</b><br>
                國立清華大學資訊工程研究所博士<br>
                大同工學院資訊工程研究所碩士<br>
                國立清華大學工業工程系學士<br>
                <br>
                <b>地 址：</b>30014 新竹市南大路521號 （清華大學藝術學院）<br>
                <b>電 話：</b>03-5715131 #78801(院)<br>
                <b>E-mail：</b>suchu@mx.nthu.edu.tw<br>
                <b>個人網站：</b>
                  <a href="http://fbi.oddist.org" target="_blank">FBI Lab</a>、
                  <a href="http://techart.nthu.edu.tw/" target="_blank">科藝中心</a><br>
              </p>
              <p v-if="item.flag === 1">
                <b>現 職：</b>

                  中華民國聲樂家協會會員、迪里美聲樂集藝術總監<br>

                <b>學 歷：</b>美國密西根州立大學音樂藝術博士(聲樂演唱)<br><br>

                <b>殊 榮：</b>1991年榮獲美國聲樂教師學會(NATS)聲樂大賽密西根州首獎<br>
                <b>專業領域：</b>　聲樂、歌劇研究、藝術歌曲研究<br>

                <b>電 話：</b>03-5715131 #73113<br>

                <b>E-mail：</b>cfangyu@mail.nd.nthu.edu.tw<br>
              </p>
              <p v-if="item.flag === 2">
                <b>學 歷：</b>日本千葉大學教育學碩士 / 日本東海大文學博士候選<br><br>

                <b>電 話：</b>(03)5715131 #72900、#72921<br>

                <b>E-mail：</b>twen@mail.nd.nthu.edu.tw、mtshiau@mx.nthu.edu.tw<br>
              </p>
              <p v-if="item.flag === 3">
                <b>學 歷：</b>法國巴黎第八大學藝術博士<br><br>

                <b>電 話：</b>03-5715131 #78811<br>

                <b>E-mail：</b>chen.chuyin@mx.nthu.edu.tw<br>
              </p>
            </div>
          </div>
          
          <div v-if="item.flag != 0">
            <div class='teacher'>
              <div class='block' v-for="(people, idx) in item.teachers" :key="(people, idx)">
                <img class='teacherImg' v-bind:src='people.img' :alt='people.name'/>
                <div class='people'>
                  <p class='name'> {{ people.name }} </p>
                  <p> {{ people.tel }} </p>
                  <p> {{ people.email }} </p>
                  <p> {{ people.work }} </p>
                </div>
              </div>
            </div>
          </div>
          <div class='admin'>
            <div class='block' v-for="(people, idx) in item.admins" :key="(people, idx)">
              <div class='people'>
                <p class='name'> {{ people.name }} </p>
                <p> {{ people.tel }} </p>
                <p> {{ people.email }} </p>
                <p> {{ people.work }} </p>
              </div>
            </div>
          </div>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<style scoped>
  #MyMembers{
    height: 100%;
    margin: 10% 0 0 0;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 28px;
    font-weight: 500;
    /* color: #613c68; */
    /* transform: translate3d(0, 0, 0);
    transition: all 0.5s;
    opacity: 0; */
    padding: 3% 0;
  }

  .tabs{
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
  }


  .word{
    width: 59.75%;
    margin: 0% auto;    
    border: 2px solid #E4E7ED;
    border-top: none;
    background-color: rgba(205, 191, 216, 0.7);
    border-radius: 0 0 4px 4px;
  }

  .inside{
    width: 100%;
    height: 100%;
    padding: 6% 0 3% 0;
    margin-bottom: 3%;
    border-bottom: 2px solid #E4E7ED;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5%;
    margin-bottom: 4.5%;
  }

  .admin, .teacher{
    display: flex;
    flex-direction: column;
    padding: 3%;
    padding-bottom: 1.5;
    /* width: 80%;
    margin: 0 auto; */
    /* justify-content: space-around; */
  }

  .teacher{
    margin-bottom: 3%;
    border-bottom: 2px solid #E4E7ED;
  }

  .people{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .name{
    font-size: 18px;
    font-weight: 500;
    color: rgb(25, 0, 85);
  }

  img{
    width: 20%;
    height: 70%;
    margin: auto 0;
  }

  .teacherImg{
    width: 10%;
    /* height: 40% */
    margin: auto 0;
  }

  .main{
    font-size: 24px;
    font-weight: 500;
    color: rgb(20, 14, 61);
    margin-bottom: 3%;
  }

  p{
    text-align: left;
    margin: 0;
    /* margin-left: 10%; */
  }

  .describe{
    display: flex;
    flex-direction: column;
  }

  /* background */

  .bg {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(157, 138, 161) 50%, rgb(184, 159, 201) 50%);
    bottom:0;
    left:-50%;
    opacity: 0.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
  }

  .bg3 {
    animation-duration:10s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }


</style>

<script>
  export default {
    created() {
      window.scrollTo(0, 0);
    },
    data() {
      return {
        activeName: '藝術學院',
        Members:[{
          type: '藝術學院',
          flag: 0,
          main: '許素朱 教授兼院長',
          img: 'http://art.nthu.edu.tw/-artimg/dean-XN.jpg',

          admins:[{
              name: '秘 書 吳淑宜',
              tel: '電 話：03-5715131 #78801',
              email: 'E-mail：freshair0129@mail.nd.nthu.edu.tw',
              work: '業 務：綜理學院行政業務、學院各項院級會議、學院創新事務執行'
            },
            {
              name: '行政助理 余佳玟',
              tel: '電 話：03-5715131 #78802',
              email: 'E-mail：cwyu@mx.nthu.edu.tw',
              work: '業 務：課程業務、學士班業務、跨院碩甲組業務、協辦院行政工作'
            },
            {
              name: '行政助理 李孟懿',
              tel: '電 話：03-5715131 #78810',
              email: 'E-mail：lee.mengi@mx.nthu.edu.tw',
              work: '業 務：春之清華計畫業務、協助院級行政事務與會議事務'
            },
          ]
        },
        {
          type: '音樂學系',
          flag: 1,
          main: '張芳宇 專任教授兼系主任 女高音',
          img: 'http://music.site.nthu.edu.tw/var/file/113/1113/img/323/214389719.jpg',

          teachers:[{
              name: '蔣茉莉 教授',
              work: '專業領域：鋼琴、室內樂',
              tel: '電 話：03-5715131 #73111',
              email: 'E-mail：molic@mail.nd.nthu.edu.tw /  molichiang873@gmail.com',
              img: require("@/assets/蔣茉莉.png")
            },
            {
              name: '蘇郁惠 教授兼電資院音樂、科技與健康研究中心主任',
              work: '專業領域：音樂與健康科技整合、演奏者健康促進、音樂社會與應用心理學、音樂行為評量',
              tel: '電 話：03-5715131 #33588、#33589',
              email: 'E-mail：yhsu@mail.nd.nthu.edu.tw',
              img: 'http://music.site.nthu.edu.tw/var/file/113/1113/img/212.jpg'
            },
            {
              name: '楊佈光 副教授',
              work: '專業領域：音樂學、兒童樂隊、直笛團組訓、客家戲、客家山歌',
              tel: '電 話：03-5715131 #73115',
              email: 'E-mail：bukuya@mail.nd.nthu.edu.tw',
              img: 'http://music.site.nthu.edu.tw/var/file/113/1113/img/323/175403240.jpg'
            },
            {
              name: '莊世玉 副教授',
              work: '專業領域：鋼琴、鋼琴作品研究',
              tel: '電 話：03-5715131 #73112',
              email: 'E-mail：schuang@mail.nd.nthu.edu.tw',
              img: 'http://music.site.nthu.edu.tw/var/file/113/1113/img/323/177179345.jpg'
            },
            {
              name: '程瓊瑩 副教授',
              work: '專業領域：鋼琴、雙鋼琴與四手聯彈',
              tel: '電 話：03-5715131 #73114',
              email: 'E-mail：cycheng@mail.nd.nthu.edu.tw',
              img: 'http://music.site.nthu.edu.tw/var/file/113/1113/img/323/186102407.jpg'
            },
            {
              name: '鄭哲男 副教授',
              work: '專業領域：單簧管、室內樂、管樂團',
              tel: '電 話：03-5715131 #73124',
              email: 'E-mail：c7352356@mail.nd.nthu.edu.tw',
              img: require("@/assets/鄭哲男.png")
            },
            {
              name: '張覺文 副教授',
              work: '專業領域：打擊樂',
              tel: '電 話：03-5715131 #73220',
              email: 'E-mail：jwc@gapp.nthu.edu.tw',
              img: 'http://music.site.nthu.edu.tw/var/file/113/1113/img/336/479124237.jpg'
            },
            {
              name: '陳孟亨 副教授',
              work: '專業領域：木笛演奏、樂團指導、早期音樂演奏與詮釋、音樂通識課程',
              tel: '電 話：03-5715131 #73123',
              email: 'E-mail：mengheng@mx.nthu.edu.tw',
              img: 'http://music.site.nthu.edu.tw/var/file/113/1113/img/323/919429372.jpg'
            },
            {
              name: '周久渝 助理教授',
              work: '專業領域：理論作曲、宣克分析法',
              tel: '電 話：03-5715131 #73128',
              email: 'E-mail：chiuyuchou@gapp.nthu.edu.tw',
              img: 'http://music.site.nthu.edu.tw/var/file/113/1113/img/192483525.jpg'
            },
            {
              name: '沈雕龍 助理教授',
              work: '專業領域：歌劇研究、西方音樂史、冷戰與臺灣二戰後的現代音樂',
              tel: '電 話：03-5715131 #73116',
              email: 'E-mail：shen.dl@mx.nthu.edu.tw',
              img: 'http://music.site.nthu.edu.tw/var/file/113/1113/img/teacher_20190826185902.jpg'
            },
          ],
          admins:[{
              name: '行政助理 黃煜圩',
              tel: '電 話：03-5715131 #73101',
              email: 'E-mail：w96ms001@mail.nd.nthu.edu.tw',
              work: '業 務：綜理行政業務、系業務與經費核銷事項'
            },
            {
              name: '約僱管理員  魏詩婷',
              tel: '電 話：03-5715131 #73103',
              email: 'E-mail： shihting@mx.nthu.edu.tw',
              work: '業 務：系上財產與盤點、工讀生及服務學習、師生活動訊息公告建檔、網頁製作維護更新管理'
            },
            {
              name: '系辦TA',
              tel: '電 話：03-5715131 #73104',
              email: 'E-mail：dme@mail.nd.nthu.edu.tw',
              work: '非定性業務'
            },
          ]
        },
        {
          type: '藝設學系',
          flag: 2,
          main: '蕭銘芚 教授兼系主任、藝術學院副院長',
          img: require("@/assets/design.png"),

          teachers:[{
              name: '吳宇棠 教授兼副系主任',
              work: '學 歷：法國國立高等美術學院造形藝術碩士/輔仁大學比較文學博士',
              tel: '電 話：03-5715131 #72915',
              email: 'E-mail：yutangwu@mail.nd.nthu.edu.tw',
              img: require("@/assets/teachers/吳宇棠.png")
            },
            {
              name: '謝鴻均 教授',
              work: '學 歷：美國紐約大學(NYU)教育學院藝術創作博士',
              tel: '電 話：03-5715131 #72924',
              email: 'E-mail：juin@mail.nd.nthu.edu.tw',
              img: require("@/assets/teachers/謝鴻均.png")
            },
            {
              name: '江怡瑩 教授',
              work: '學 歷：美國紐約州雪城大學藝術設計學院藝術碩士(MFA)',
              tel: '電 話：03-5715131 #72930、#72934',
              email: 'E-mail：iychiang@mail.nd.nthu.edu.tw',
              img: require("@/assets/teachers/江怡瑩.png")
            },
            {
              name: '高榮禧 副教授',
              work: '學 歷：法國巴黎大學索爾邦藝術史博士',
              tel: '電 話：03-5715131 #72920',
              email: 'E-mail：jhkao@mail.nd.nthu.edu.tw',
              img: require("@/assets/teachers/高榮禧.png")
            },
            {
              name: '李允文 副教授',
              work: '學 歷：國立台灣藝術大學造形藝術研究所碩士',
              tel: '電 話：03-5715131 #72918',
              email: 'E-mail：wen4877@mail.nd.nthu.edu.tw',
              img: require("@/assets/teachers/李允文.png")
            },
            {
              name: '梁莉苓 副教授',
              work: '學 歷：國立台南藝術大學創作理論研究所博士',
              tel: '電 話：03-5715131 #72914',
              email: 'E-mail：liang38m@mail.nd.nthu.edu.tw',
              img: require("@/assets/teachers/梁莉苓.png")
            },
            {
              name: '胡以誠 副教授',
              work: '學 歷：國立臺灣師範大學美術系國畫創作理論博士',
              tel: '電 話：03-5715131 #72912',
              email: 'E-mail：artichu@mail.nd.nthu.edu.tw',
              img: require("@/assets/teachers/胡以誠.png")
            },
            {
              name: '施富錡 副教授',
              work: '學 歷：美國北伊利諾大學藝術與設計學院藝術碩士(MFA)',
              tel: '電 話：03-5715131 #72926',
              email: 'E-mail：fuchi@mail.nd.nthu.edu.tw',
              img: require("@/assets/teachers/施富錡.png")
            },
            {
              name: '張琳 助理教授',
              work: '學 歷：英國倫敦大學學院藝術史博士',
              tel: '電 話：03-5715131 #72928',
              email: 'E-mail：changlin@mx.nthu.edu.tw',
              img: require("@/assets/teachers/張琳.png")
            },
            {
              name: '張晴文 助理教授',
              work: '學 歷：國立臺灣藝術大學藝術管理與文化政策研究所博士',
              tel: '電 話：03-5715131 #72916',
              email: 'E-mail：cwchang@mail.nd.nthu.edu.tw',
              img: require("@/assets/teachers/張晴文.png")
            },
            {
              name: '余季音 助理教授',
              work: '學 歷：美國哥倫比亞大學藝術與藝術教育博士',
              tel: '電 話：03-5715131 #72937',
              email: 'E-mail：chiyingyu@mail.nd.nthu.edu.tw',
              img: require("@/assets/teachers/余季音.png")
            },
          ],

          admins:[{
              name: '助教 王靜怡',
              tel: '電 話：03-5715131 #72901',
              email: 'E-mail：wjy@mx.nthu.edu.tw',
              work: '業 務：辦理設計組、理論組相關行政業務'
            },
            {
              name: '助教 何葉常慧',
              tel: '電 話：03-5715131 #72903',
              email: 'E-mail： shihting@mx.nthu.edu.tw',
              work: '業 務：hoyehch@mx.nthu.edu.tw'
            },
            {
              name: '專案人員 阮汶芳',
              tel: '電 話：03-5715131 #72904',
              email: 'E-mail：Wenfang@mx.nthu.edu.tw',
              work: '辦理碩士在職專班(暑期)相關業務 、大四畢業生畢業資格審核、物品器材管理、廢液處理、收送公文與信件包裹領取'
            },
            {
              name: '專題計畫人員 阮汶芳',
              tel: '電 話：03-5715131 #72902',
              email: 'E-mail：Wenfang@mx.nthu.edu.tw',
              work: '系館空間環境清潔及維護管理、收送公文與信件包裹領取、會議餐點及茶水準備、器材物品管理'
            },
          ]
        },
        {
          type: '院學士班',
          flag: 3,
          main: '陳珠櫻 教授兼班主任',
          img: 'http://ipta.nthu.edu.tw/-iptaimg/faculty-Chuyin.jpg',

          teachers:[{
              name: '邱誌勇 教授',
              work: '專 長：新媒體藝術美學、藝術評論、電影電視美學與科技文化研究',
              tel: '電 話：03-5715131 #78812',
              email: 'E-mail：aaronchiu88@gmail.com',
              img: 'http://ipta.nthu.edu.tw/-iptaimg/faculty-Chiu.jpg'
            },
            {
              name: '游創文 助理教授',
              work: '專 長：人機互動、普及計算、無線感測網路',
              tel: '電 話：03-5715131 #78813',
              email: 'E-mail：cwyou@mx.nthu.edu.tw',
              img: 'http://ipta.nthu.edu.tw/wp-content/uploads/2017/09/faculty-Youchuangwen-e1599050882929.png'
            },
            {
              name: '曹存慧 助理教授',
              work: '專 長：生物藝術、生物資訊、轉錄體學、基因工程、分子生物學',
              tel: '電 話：-',
              email: 'E-mail：tthtsao@mx.nthu.edu.tw',
              img: 'http://ipta.nthu.edu.tw/wp-content/uploads/2017/09/messageImage_1565860106157-e1599050953492.jpg'
            },
          ]
        },
        ],
      };
    },
    methods: {
      handleClick(tab, event) {
        // console.log(tab, event);
        this.showWord();
      },

      showWord() {
        var inside = document.getElementsByClassName('inside');
        var teacher = document.getElementsByClassName('teacher');
        var admin = document.getElementsByClassName('admin');
        inside.forEach(el => el.className += ' animate__animated animate__zoomIn');
        teacher.forEach(el => el.className += ' animate__animated animate__zoomIn');
        admin.forEach(el => el.className += ' animate__animated animate__zoomIn');
      },
    },

    mounted(){
      this.showWord();
    }

  };
</script>
