<template>
  <div id='MyNews'>
    <div class='bg'></div>
    <div class='bg bg2'></div>
    <div class='bg bg3'></div>
    <div class='News'>
      <p class='title'> 最新消息</p>
      <div class='content'>
        <div>
          <div class='block hvr-bob' v-for="(acti, index) in activity" :key="(acti, index)">
            <div class='hover'>
              <div class='hvr-grow readMore'>READ</div>
            </div>
            <img class='Actiimg' v-bind:src='acti.img' :alt='acti.head'/>
            <div class='info'>
              <span class='type'><i class="el-icon-star-on"></i>{{ acti.type }}</span>
              <span class='date'> {{ acti.date }} </span>
            </div>
            <div class='activity'> {{ acti.head }} </div>
          </div>
        </div>  
        <div class='page'>
          <el-pagination
            layout="prev, pager, next"
            :total="50"
            class='pageNum'>
          </el-pagination>
        </div>
      </div>   
    </div>

  </div>    
</template>



<style scoped>

#MyNews{
  margin-top: 3%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .News{
  position: relative;
  top: 50%;
} */

.title{
  margin-top: 0;
  padding-top: 10%;
  padding-bottom: 2.5%;
  font-size: 40px;
  font-weight: 500;
  background-color: rgba(245, 232, 208, 0.795);
}

.content {
  margin: 0% auto 1% auto;
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Actiimg{
    width: 85%;
    height: 52.5%;
    border-radius: 10px;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden; 
  }

  .info{
    color: #534653;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 1% 7.5% 0 7.5%;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden; 
  }

  .date{
    letter-spacing: 1px;
  }

  .hover {
    transition: .5s ease;
    opacity: 0;
    transform: translate(0, 275%);
  }

  .readMore {
    width: 40%;
    background-color: #ffee00;
    color: rgb(44, 43, 43);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 450;
    padding: 2.5% 0;
  }

  .block {
    /* float: left;*/
    width: 33.25%;
    height: 400px; 
    /* padding: 1%;  */
    font-size: 20px;
    color:rgb(20, 14, 61);
    margin-bottom: 3%;
    /* padding-top: 3%; */
  }

  .block:hover{
    cursor: pointer;
  }

  .block:hover .Actiimg{
    opacity: 0.7;
  }

  .block:hover .info{
    opacity: 0.7;
  }

  .block:hover .activity{
    opacity: 0.7;
  }
  
  .block:hover .hover{
    position: relative;
    z-index: 10;
    opacity: 1;
  }

  .activity {
    margin: 0 7.5% 4% 7.5%;
    padding: 2.5% 0% 0% 0%;
    border-top: rgb(43, 32, 61) solid 1.75px;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden; 
  }


  .page{
    width: 30%;
    margin-bottom: 5%;
  }

  .pageNum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }



/* background */

.bg {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(157, 138, 161) 50%, rgb(184, 159, 201) 50%);
    bottom:0;
    left:-50%;
    opacity: 0.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
  }

  .bg3 {
    animation-duration:10s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

</style>


<script scoped> 

  export default {
    name: 'MyPage',
    data() {
      return {
        timer: '',
        list: [],
        school: '國立清華大學 藝術學院',
        titles: ['近期活動', '聯絡我們'],
        showTitle:['false', 'false', 'false'],

        activity: [{
            img: require("@/assets/191207.png"),
            head: '奧斯卡獎得主Dr. Jos Stam – 我的學思歷程-電腦圖像30年-從開天闢地到奧斯卡獎的旅程',
            date: '2019 / 12 / 07',
            type: '學院活動、國際交流'
          },
          {
            img: require("@/assets/191123.png"),
            head: '國際跨領域學術論壇 – 意識、情感認知與體現互動藝術',
            date: '2019 / 11 / 23',
            type: '學院公告'
          },
          {
            img: require("@/assets/191111.png"),
            head: '歡迎報名「跨國實驗室工作坊」：互動藝術中的沉浸式即興創作',
            date: '2019 / 11 / 11',
            type: '學院活動、國際交流'
          },
          {
            img: require("@/assets/191108.png"),
            head: '學士班陶亞倫主任與四位學生受邀參加「2019雅典數位藝術節」',
            date: '2019 / 11 / 08',
            type: '學院活動、國際交流'
          },
          {
            img: require("@/assets/191101.png"),
            head: '「三便士歌劇」清華登場 跨院學生共演擦火花',
            date: '2019 / 11 / 01',
            type: '學院活動'
          },
          {
            img: require("@/assets/191019.png"),
            head: '跨系的藝術結晶──2019音樂系三便士歌劇',
            date: '2019 / 10 / 19',
            type: '學院活動'
          },
          {
            img: require("@/assets/191019-2.png"),
            head: '動力與影像裝置工作坊',
            date: '2019 / 10 / 19',
            type: '學院活動、國際交流'
          },
          {
            img: require("@/assets/191019-3.png"),
            head: '2019 年春之獎學金得獎名單',
            date: '2019 / 10 / 19',
            type: '學院公告、學生獲獎'
          },
          {
            img: require("@/assets/191019-4.png"),
            head: '2019 春之卓越獎得獎名單',
            date: '2019 / 10 / 19',
            type: '學院公告、學生獲獎'
          },
          {
            img: require("@/assets/191008.png"),
            head: 'Formosa on My Mind (2019.10.08~18)',
            date: '2019 / 10 / 08',
            type: '學院活動、國際交流'
          },
          {
            img: require("@/assets/191002.png"),
            head: '藝設系教授聯展',
            date: '2019 / 10 / 02',
            type: '學院活動'
          },
          {
            img: require("@/assets/190530.png"),
            head: '拜會南京藝術學院傳媒學院暨簽署合作交流MOU',
            date: '2019 / 05 / 30',
            type: '學院公告、國際交流'
          },

        ],
      };
    }
  }
</script>