<template>
  <div id='MyNews'>
    <div class='bg'></div>
    <div class='bg bg2'></div>
    <div class='bg bg3'></div>
    <div class='News'>
      <p class='title'> 最新消息</p>
      <div class='content'>
        <div>
          <div class='block hvr-bob' v-for="(acti, index) in activity" :key="(acti, index)">
            <div class='hover'>
              <div class='hvr-grow readMore'><a class='a' v-bind:href="acti.link">READ</a></div>
            </div>
            <img class='Actiimg' v-bind:src='acti.img' :alt='acti.head'/>
            <div class='info'>
              <span class='type'><i class="el-icon-star-on"></i>{{ acti.type }}</span>
              <span class='date'> {{ acti.date }} </span>
            </div>
            <div class='activity'> {{ acti.head }} </div>
          </div>
        </div>  
        <div class='page'>
          <el-pagination
            layout="prev, pager, next"
            :total="50"
            class='pageNum'>
          </el-pagination>
        </div>
      </div>   
    </div>

  </div>    
</template>



<style scoped>

#MyNews{
  margin-top: 3%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .News{
  position: relative;
  top: 50%;
} */

.title{
  margin-top: 0;
  padding-top: 10%;
  padding-bottom: 2.5%;
  font-size: 40px;
  font-weight: 500;
  background-color: rgba(176, 133, 187, 0.7);
}

.content {
  margin: 0% auto 1% auto;
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Actiimg{
    width: 85%;
    height: 52.5%;
    border-radius: 10px;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden; 
  }

  .info{
    color: #534653;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 1% 7.5% 0 7.5%;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden; 
  }

  .date{
    letter-spacing: 1px;
  }

  .hover {
    transition: .5s ease;
    opacity: 0;
    transform: translate(0, 275%);
  }

  .readMore {
    width: 40%;
    background-color: #ffee00;
    color: rgb(44, 43, 43);
    border-radius: 5px;
    font-size: 18px;
    font-weight: 450;
    padding: 2.5% 0;
  }

  .block {
    /* float: left;*/
    width: 33.25%;
    height: 400px; 
    /* padding: 1%;  */
    font-size: 20px;
    color:rgb(20, 14, 61);
    margin-bottom: 3%;
    /* padding-top: 3%; */
  }

  .block:hover{
    cursor: pointer;
  }

  .block:hover .Actiimg{
    opacity: 0.7;
  }

  .block:hover .info{
    opacity: 0.7;
  }

  .block:hover .activity{
    opacity: 0.7;
  }
  
  .block:hover .hover{
    position: relative;
    z-index: 10;
    opacity: 1;
  }

  .activity {
    margin: 0 7.5% 4% 7.5%;
    padding: 2.5% 0% 0% 0%;
    border-top: rgb(43, 32, 61) solid 1.75px;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden; 
  }


  .page{
    width: 30%;
    margin-bottom: 5%;
  }

  .pageNum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .a{
    padding: 7.5% 25%;
  }






/* background */

.bg {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(157, 138, 161) 50%, rgb(184, 159, 201) 50%);
    bottom:0;
    left:-50%;
    opacity: 0.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
  }

  .bg3 {
    animation-duration:10s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

</style>



<script scoped> 

  export default {
    name: 'MyPage',
    created() {
      window.scrollTo(0, 0);
    },
    data() {
      return {
        timer: '',
        list: [],
        school: '國立清華大學 藝術學院',
        titles: ['近期活動', '聯絡我們'],
        showTitle:['false', 'false', 'false'],

        activity: [{
            img: require("@/assets/1208.png"),
            head: '藝設系學生獲獎－109年林務局「國產材設計商品比賽」決選',
            date: '2020 / 12 / 08',
            type: '學生獲獎',
            link: 'https://art.nthu.edu.tw/?p=2072'
          },
          {
            img: require("@/assets/1201.png"),
            head: '【開放報名】2020國立清華大學藝術與設計學系研究生論文研討會',
            date: '2020 / 12 / 01',
            type: '學院活動',
            link: 'https://art.nthu.edu.tw/?p=2061'
          },
          {
            img: require("@/assets/0909.png"),
            head: 'ARS 2020 – TSING HUA GARDEN',
            date: '2020 / 09 / 09',
            type: '學院公告、國際交流',
            link: 'https://art.nthu.edu.tw/?p=2036'
          },
          {
            img: require("@/assets/0731.png"),
            head: '清華藝術學報',
            date: '2020 / 07 / 31',
            type: '學院公告',
            link: 'https://art.nthu.edu.tw/?p=2020'
          },
          {
            img: require("@/assets/0722.png"),
            head: '藝設系設計組-異質對話-360展區1',
            date: '2020 / 07 / 22',
            type: '學院活動',
            link: 'https://art.nthu.edu.tw/?p=2002'
          },
          {
            img: require("@/assets/0703.png"),
            head: '華山烏梅劇場「Face to face」實驗性跨領域展演',
            date: '2020 / 07 / 03',
            type: '學院公告',
            link: 'https://art.nthu.edu.tw/?p=2017'
          },
          {
            img: require("@/assets/0611.png"),
            head: '藝術學院-畢業典禮',
            date: '2020 / 06 / 11',
            type: '學院活動',
            link: 'https://art.nthu.edu.tw/?p=2006'
          },
          {
            img: require("@/assets/0427.png"),
            head: '藝設系學生獲獎－第14屆福爾摩沙珠寶設計教育推廣競賽',
            date: '2020 / 04 / 27',
            type: '學生獲獎',
            link: 'https://art.nthu.edu.tw/?p=1979'
          },
          {
            img: require("@/assets/0401.png"),
            head: '科技藝術策展人講座系列 – Metabolism at Contemporary',
            date: '2020 / 04 / 01',
            type: '學院活動',
            link: 'https://art.nthu.edu.tw/?p=1971'
          },
          {
            img: require("@/assets/0401-2.png"),
            head: '清明連假後防疫措施',
            date: '2020 / 04 / 01',
            type: '學院公告',
            link: 'https://art.nthu.edu.tw/?p=1966'
          },
          {
            img: require("@/assets/0110.png"),
            head: '1月8日清華大學藝術大樓「春之廳」命名典禮',
            date: '2020 / 01 / 10',
            type: '學院活動',
            link: 'https://art.nthu.edu.tw/?p=1932'
          },
          {
            img: require("@/assets/191211.png"),
            head: '勾勒《新竹•城市美術館》論壇',
            date: '2019 / 12 / 11',
            type: '學院公告、學院活動',
            link: 'https://art.nthu.edu.tw/?p=1923'
          },    
        ],
      };
    }
  }
</script>