<template>
  <div id='MyAbout'>
    <div class='bg'></div>
    <div class='bg bg2'></div>
    <div class='bg bg3'></div>
    <div class='News'>
      <p class='title'> 藝術學報 </p>
      <div class='content'>
        <div class='block animate__animated animate__slideInLeft' v-for="(item, index) in Block" :key="(item, index)">
          <div class='subtitle'> {{ item.title }}</div>
          <div v-if="item.flag">
            <div v-for="(word, idx) in item.content" :key="(word, idx)">
              <p class='p'> {{ word }}</p>
            </div>
          </div>
          <div class='a' v-if="!item.flag">
            <div v-for="(word, idx) in item.content" :key="(word, idx)">
              <a v-bind:href="word.link" target='_blank'> {{ word.item }} </a>
            </div>
          </div>
        </div>
      </div>   
    </div>

  </div>    
</template>



<style scoped>

  #MyAbout{
    margin-top: 3%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title{
    margin-top: 0;
    padding-top: 10%;
    padding-bottom: 2.5%;
    font-size: 40px;
    font-weight: 500;
    background-color: rgba(176, 133, 187, 0.7);
  }

  .block{
    width: 75%;
    margin: 2.5% 0;
    padding: 3% 5%;
    border-radius: 10px;
    background: rgb(241, 224, 255);
  }

  .word{
    width: 80%;
    margin: 0 auto;
  }

  .content {
    margin: 0% auto 1% auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .subtitle{
    font-size: 30px;
    font-weight: 500;
    color: rgb(44, 17, 54);
  }

  .p{
    text-align: start;
  }

  .a{
    margin-top: 1.5%;
  }

  a{
    color: rgb(104, 35, 129);
  }



/* background */

.bg {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(157, 138, 161) 50%, rgb(184, 159, 201) 50%);
    bottom:0;
    left:-50%;
    opacity: 0.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }

  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
  }

  .bg3 {
    animation-duration:10s;
  }

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

</style>



<script scoped> 

  export default {
    name: 'MyPage',
    created() {
      window.scrollTo(0, 0);
    },
    data() {
      return {
        Block: [{
            flag: true,
            title: '學報簡介',
            content:[
              '因合校因素，《新竹教育大學人文社會學報》自106年1月起停刊，轉型後刊物更名為《清華藝術學報》，改由藝術學院發行，歡迎美術、工藝、設計、美學文化思潮、策展、藝評、藝術行政管理、電影、音樂、其他表演藝術及藝術跨域研究相關論文投稿。',
              '本學報採線上投審稿系統，投稿者請至華藝iPress投稿系統',
              '聯絡人：國立清華大學出版社　林維萱小姐 (電話：03-5715131轉34546)。E-mail：publisher@mail.nd.nthu.edu.tw'
            ] 
          },
          {
            flag: true,
            title: '徵稿須知',
            content:[
              '一、本學報為學術性期刊，為年刊，每年定期出刊，竭誠歡迎海內外學者賜稿，發表美術、工藝、設計、美學文化思潮、策展、藝評、藝術行政管理、電影、音樂、其他表演藝術及藝術跨域研究相關論文。',
              '二、本刊徵稿對象為國內外大專院校專、兼任教師及學術研究機構之研究人員與博士生。',
              '三、來稿以尚未發表於正式出版發行之學術性論文為限(已通過之學位論文、網路文章及已結集出版發行之研討會會後論文集視同已發表)。本刊不接受已通過之原學位論文，但若以原論題為基礎，進行重整、拓展或深化者，則不在此限。研討會論文若未收錄於已出版之研討會會後論文集，亦不在此限。',
              '四、來稿須具備「學術論文」之實證性、理論性、系統性，凡翻譯文稿、作品賞析、報導性文章、教學講義、讀書心得恕不接受。',
              '五、來稿字數以中文 15000 字至 40000 字，英文 10000 字至 20000 字為原則，並請附上中英文題目、摘要、關鍵詞 3-6 個。',
              '六、本刊全年徵稿，稿件隨到即審，採雙向匿名制，來稿皆經編審委員會送請兩位相關領域的專家學者評審，若兩審意見相左，則送第三審。為利於匿名送審，稿件電子檔中請勿標示作者姓名及服務單位(相關資訊於稿件確定刊登時由本刊統一加註)。',
              '七、審查及修正：投稿本刊稿件經匿名審查人審查後，作者需依據審查意見進行修正，並填寫審查意見回應表，以作為編審委員會確認其刊登與否之依據。其餘規定請參閱清華藝術學報稿件審查辦法。',
              '八、經審查通過之論文刊登期別，由本刊編審委員決定。',
              '九、本學報亦接受中英文之書評類投稿，字數以 4000 字至 8000 字為原則。',
              '十、投稿程序：本刊採線上投稿，投稿者請至 http://www.ipress.tw/J0147登錄並依投稿系統指示上傳資料（包含投稿者資料表、投稿者聲明書及授權書）。',
              '十一、凡經刊載之論文，致贈作者該期學報三本及抽印本十份，不另支稿酬。書評類作者則致贈該期學報一本。',
              '十二、投稿相關文件及辦法請詳閱本學報網頁公告(http://art.nthu.edu.tw/?page_id=31)。'
            ] 
          },
          {
            flag: false,
            title: '文件下載',
            content:[{
              item: '清華藝術學報投稿者資料表',
              link: ''
            },
            {
              item: '清華藝術學報報投稿者聲明書',
              link: ''
            },
            {
              item: '清華藝術學報稿件審查辦法',
              link: ''
            },
            {
              item: '清華藝術學報編審委員會設置要點',
              link: ''
            },
            {
              item: '清華藝術學報論文撰寫體例',
              link: ''
            },    
            ]
          }
        ]
      };
    }
  }
</script>