<template>
  <div id="app" style="height: 100%;">
    
    <el-menu id="nav" mode="horizontal" background-color="rgb(245, 232, 208)">
      <span class="span parent">
        <router-link to="/" class='router'>
          <span class="span at">@</span>
          <span class="span rt">RT</span>
          <span class="nthu">NTHU</span>
        </router-link>
      </span>
      <el-submenu index="1" class="option">
        <template slot="title"> 招生訊息</template>
        <el-menu-item index="1-1" class="child"><a href="http://ipta.nthu.edu.tw/?p=6287" target="_blank">院學士班(IPTA)招生</a></el-menu-item>
        <el-menu-item index="1-2" class="child"><a href="http://music.site.nthu.edu.tw/p/412-1113-8.php?Lang=zh-tw" target="_blank">音樂系(music)招生</a></el-menu-item>
        <el-menu-item index="1-3" class="child"><a href="http://artdesign.site.nthu.edu.tw/p/412-1104-12571.php?Lang=zh-tw" target="_blank">藝設系(art design)招生</a></el-menu-item>
        <el-menu-item index="1-4" class="child"><a href="http://aet.web.nthu.edu.tw/" target="_blank">跨院碩(AET)招生</a></el-menu-item>
        <el-menu-item index="1-5" class="child">國際交換</el-menu-item>
      </el-submenu>
      <el-menu-item index="2" class="option"><router-link to="/About" class='router'> 學院簡介 </router-link></el-menu-item>
      <el-menu-item index="3" class="option"><router-link to="/Members" class='router'> 學院成員 </router-link></el-menu-item>
      <el-menu-item index="4" class="option"><a href="https://art.nthu.edu.tw/?page_id=1445">榮譽榜</a></el-menu-item>
      <el-menu-item index="5" class="option"><a href="https://art.nthu.edu.tw/?page_id=130">活動花絮</a></el-menu-item>
      <el-menu-item index="6" class="option"><a href="https://art.nthu.edu.tw/?page_id=278">藝院影音</a></el-menu-item>
      <el-menu-item index="7" class="option"><router-link to="/Paper" class='router'>藝術學報</router-link></el-menu-item>
      <div class='bar'>
        <div class='menu' @click="change">
          <span class='line'></span>
          <span class='line'></span>
        </div>
      </div>
    </el-menu>
  <router-view/>
  <el-drawer
    :visible.sync="drawer"
    :direction="direction"
    :size="size">
    <el-menu
      class="el-menu-vertical-demo"
      background-color="rgb(245, 232, 208)"
    >
      <el-submenu index="1" class="option">
        <template slot="title"> 招生訊息</template>
        <el-menu-item index="1-1" class="child"><a href="http://ipta.nthu.edu.tw/?p=6287" target="_blank">院學士班(IPTA)招生</a></el-menu-item>
        <el-menu-item index="1-2" class="child"><a href="http://music.site.nthu.edu.tw/p/412-1113-8.php?Lang=zh-tw" target="_blank">音樂系(music)招生</a></el-menu-item>
        <el-menu-item index="1-3" class="child"><a href="http://artdesign.site.nthu.edu.tw/p/412-1104-12571.php?Lang=zh-tw" target="_blank">藝設系(art design)招生</a></el-menu-item>
        <el-menu-item index="1-4" class="child"><a href="http://aet.web.nthu.edu.tw/" target="_blank">跨院碩(AET)招生</a></el-menu-item>
        <el-menu-item index="1-5" class="child">國際交換</el-menu-item>
      </el-submenu>
      <el-menu-item index="2" class="option"><router-link to="/About" class='router'> 學院簡介 </router-link></el-menu-item>
      <el-menu-item index="3" class="option"><router-link to="/Members" class='router'> 學院成員 </router-link></el-menu-item>
      <el-menu-item index="4" class="option"><a href="https://art.nthu.edu.tw/?page_id=1445">榮譽榜</a></el-menu-item>
      <el-menu-item index="5" class="option"><a href="https://art.nthu.edu.tw/?page_id=130">活動花絮</a></el-menu-item>
      <el-menu-item index="6" class="option"><a href="https://art.nthu.edu.tw/?page_id=278">藝院影音</a></el-menu-item>
      <el-menu-item index="7" class="option"><router-link to="/Paper" class='router'>藝術學報</router-link></el-menu-item>
    </el-menu>
  </el-drawer>
  </div>

</template>

<style>

* {
    letter-spacing: 2px;
    line-height: 30px;
    outline: none;
}

a{
  text-decoration: none;
  color: #2c1136;
}

.child {
  font-size: 14px !important;
}

.child:hover{
  color: rgb(120, 80, 134) !important;
}

.router{
  text-decoration: none;
  color: #613c68;;
}

.option:hover{
  color: rgb(120, 80, 134);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  /* font-family: 'Noto Serif TC', serif; */
  /* font-family: 'Noto Sans TC', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1e121f;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 12%;
  background-color: rgb(245, 232, 208);
  /* opacity: 0.8; */
  z-index: 100;
  font-size: 18px;
  font-weight: bold;
  color: #613c68;
}

/* #nav a.router-link-exact-active {
  color: #090913;
} */

.navbar-toggler {
  display: none;
}

.span{
  float: left;
  margin: 1.1% 2% 0.8% 0;
  font-size: 44px;
  font-family: 'Bungee', cursive;
}

.parent{
  position: relative;
  transform:translateY(-50%);
  top: 50%;
  margin: 0 2% 0 0;
}

/* .parent:hover{
  cursor: pointer;
} */

.rt{
  margin: 1.1% 3% 0 1%;
}

.nthu{
  font-size: 16px;
  float: right;
  margin: 3.5% 17% 0 0;
  font-family: 'Bungee', cursive;
  letter-spacing: 3px;
  color: #371f3b;
  line-height: 20px;
}

.at{
  font-size: 48px;
  margin: 5% 0 0 20%;
  font-family: 'Bungee', cursive;
}

.bar{
  position: relative;
  transform:translateY(-50%);
  top: 50%;
  padding: 0 2%;
  /* display: flex; */
  /* flex-direction: row-reverse; */
  justify-content: flex-end;
  display: none;
}

.menu{
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: .3s;
  position: relative;
}

.line{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 4px;
  background-color: #371f3b;

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

.menu span:nth-child(1) { transform: translate(-50%, -50%) translateY(-7.5px); }
.menu span:nth-child(2) { transform: translate(-50%, -50%) translateY(7.5px); }


.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 100%;
    /* min-height: 400px; */
}

@media (max-width: 991.98px){
  
  #nav {
    height: 10%;
  }

  .el-menu--horizontal .el-menu-item, .el-menu--horizontal .el-submenu__title{
    display: none;
  }

  .el-menu--horizontal .child {
    display: none;
  }

  .bar{
    display: flex;
  }
}

@media (max-width: 575.98px){

    .span{
      float: left;
      /* margin: 1.1% 2% 0.8% 0; */
      font-size: 38.5px;
      /* font-family: 'Bungee', cursive; */
    }

    .rt{
      margin: 1.1% 3% 0 1%;
    }

    .nthu{
      font-size: 14px;
      float: right;
      margin: 0 17% 0 0;
      font-family: 'Bungee', cursive;
      letter-spacing: 3px;
      color: #371f3b;
      line-height: 20px;
    }

    .at{
      font-size: 42px;
      margin: 5% 0 0 20%;
      font-family: 'Bungee', cursive;
    }
}

/* @media (max-width: 575.98px){
    #nav{

    }
} */

</style>

<script>
  export default {
    data() {
      return {
        drawer: false,
        direction: 'rtl',
        size: '100%'
      };
    },
    methods:{
      change(){
        this.drawer = true;
      }
    }
  }
</script>
