/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: rgb(24, 0, 70);
$--menu-item-hover-fill: rgb(245, 232, 208) !important;
$--menu-item-font-size: 18px;
$--menu-item-font-color: rgb(44, 17, 54);
$--color-text-primary: #1e121f;
$--color-transparent: rgba(0, 0, 0, 0);

$--pagination-hover-color: rgb(241, 224, 255);

$--pagination-active-color: rgb(242, 230, 252);



/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
